<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Employee Portal</h1>
    <span class="menu-spacer"></span>
    <div>
      <button mat-button [routerLink]="'/home'"> Home </button>
      <button mat-button [routerLink]="'/add'"> Add Employee </button>
      <button mat-button [routerLink]="'/employees'"> Employee List</button>
      <button mat-button [routerLink]="'/about'"> About </button>
      <span class="toolbar-spacer"></span>
      <button mat-button [routerLink]="'/login'"> Login </button>
      <button mat-button [routerLink]="'/register'"> Register </button>
    </div>
  </mat-toolbar-row>

</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/home'"> Home </a>
      <a mat-list-item [routerLink]="'/add'"> Add Employee </a>
      <a mat-list-item [routerLink]="'/employees'"> List Employees </a>
      <a mat-list-item [routerLink]="'/about'"> About </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>