
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <!-- <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button> -->
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>list</mat-icon>
      </button>
      <button mat-button>
        <mat-icon>school</mat-icon>
        AFRO-LAB
      </button>
      <button [routerLink]="'/home'" mat-button>
        <mat-icon>home</mat-icon>
        Home
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>dashboard</mat-icon> Categories
      </button>
      <span class="nav-spacer"></span>
      <form >
        <mat-form-field style="font-size: 12px;">
          <input type="search" matInput placeholder="search for courses..." aria-label="Search">
        </mat-form-field>
        <button [routerLink]="'/help'" mat-button>
          <mat-icon>search</mat-icon>
          Search
        </button>
      </form>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="'/login'">
          <mat-icon>developer_board</mat-icon>
          <span>Development</span>
        </button>
        <button mat-menu-item [routerLink]="'/home'">
          <mat-icon>business</mat-icon>
          <span>Business</span>
        </button>
        <button mat-menu-item [routerLink]="'/home'">
          <mat-icon>computer</mat-icon>
          <span>IT & Software</span>
        </button>
        <button mat-menu-item [routerLink]="'/home'">
          <mat-icon>edit</mat-icon>
          <span>Design</span>
        </button>
        <button mat-menu-item [routerLink]="'/home'">
          <mat-icon> directions_run</mat-icon>
          <span>Sport</span>
        </button>
        <button mat-menu-item [routerLink]="'/home'">
          <mat-icon>play_circle_outline</mat-icon>
          <span>Music</span>
        </button>
        <button mat-menu-item>
          <mat-icon>domain</mat-icon>
          <span>Teaching</span>
        </button>
      </mat-menu>
      <span class="nav-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <button [routerLink]="'/help'" mat-button>
          <mat-icon>help</mat-icon>
          Help
        </button>
        <button [routerLink]="'/register'" mat-button>
          <mat-icon>add_box</mat-icon>
          Join
        </button>
        <button [routerLink]="'/login'" mat-button>
          <mat-icon>account_box_outline</mat-icon>
          Sign In
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a [routerLink]="'/add'" mat-list-item>
          <mat-icon>home</mat-icon>
          Home
        </a>
        <a [routerLink]="'/add'" mat-list-item>
          <mat-icon>message</mat-icon>
          Messages</a>
        <a [routerLink]="'/user'" mat-list-item>
          <mat-icon>account_box</mat-icon>
          My Account
        </a>
        <a [routerLink]="'/add'" mat-list-item>
          <mat-icon>settings</mat-icon>
          Settings
        </a>
        <a (click)="sidenav.toggle()" mat-list-item>
          <mat-icon>close</mat-icon> Close
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>




