<div class="container">
  <br />
  <h3 style="text-align: center;">Featured Examinations</h3>

  <br />
  <div class="row">
    <div class="col-sm-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Development
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Courses that help you learn web developement starting from scrach.
            Learn the basics of software development life cycles(SDLC).Learn to build web applications using....
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button>Click In</button>
          <button mat-raised-button class="float-right">Learn More</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-sm-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Business
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Learn and get ready to be certified for Taleabu, SQL developer, Microsoft Power BI, Business Analyst, PMP, 
            Project management and more popular Business related courses.....
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button>Click In</button>
          <button mat-raised-button class="float-right">Learn More</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-sm-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            IT & Software
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Learn on popular technologies like AWS Certification, Cisco CCNA, Cyber Security, Linux, CompaTIA A+, AWS certified
            Developer Associate, and more popular IT related courses.....
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button>Click In</button>
          <button mat-raised-button class="float-right">Learn More</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <br />
<br>
  <div class="row">
    <div class="col-sm-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Design
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Learn on popular technologies like Photoshop, Drawing, User Experience Design, 3D modeling, Web Design, Graphic Design,
            Blender, Adobe Illustrator, and more popular Design related courses.....
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button>Click In</button>
          <button mat-raised-button class="float-right">Learn More</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-sm-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Health & Fitness
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Learn with demonstration on CBT, Yoga, Massage, Aromatherapy, Meditation, Nutrition, Fitness, Art Therapy, Health Coaching,
            Herbalism, and more popular health and Fitness related courses that will keep you fit and healthy...
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button>Click In</button>
          <button mat-raised-button class="float-right">Learn More</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-sm-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Art & Production
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Master musical instruments like Piano, Guitar, Keyboard Instrument and also teach yourself Singing, Music Composition,
            Songwriting, Music Production, Music Therapy, and more popular Music, Cenima and Art related courses.....
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button>Click In</button>
          <button mat-raised-button class="float-right">Learn More</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <br />

  <br />
  <br />

  <br />
  <h3 style="text-align: center;">Featured Examinations</h3>

  <br />
  <div class="row">
    <div class="col-sm-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Show List of Employees
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            list out all employes details from the data base with options to
            update, details and delete
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button routerLink="/employees" class="btn btn-primary"
          >Employee List</button>
          <button mat-raised-button class="float-right">Learn More</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-sm-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Create Employee
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Add Employee details (first name, last name and email address to the
            employee portal
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button routerLink="/add" class="btn btn-primary"
          >Add Employee</button>
          <button mat-raised-button class="float-right">Learn More</button>
        </mat-card-actions>
      </mat-card>

    </div>
   <br>
  </div>
  <br>
  <br>
</div>
